*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

#format{
    display: flex;
    justify-content: space-between;
}

#answer{
    width: 50vw;
    display: flex;
    flex-direction: column;
}

/* Oscurato l'id number che sarebbe comparso sotto il "tuttoattaccato" */
#format #number,
#anno{
    display: none;
}

#name,
#surname,
#color{
    color: red;
}

#ora-esatta{
    width: 50vw;
    display: flex;
    justify-content: flex-end;
}

#signature{
    display: flex;
    margin: 0;
}
